---
import { Image } from 'astro:assets';
import knowldgePortfolioImage from '../../algorithms.png';
import Card from './Card.astro';
import projects from '../../data/projects';
---

<section data-scroll-section class="mt-60">
	<h2
		class="text-lg font-bold text-purple-300 mb-12 after:absolute after:w-4/5 after:h-px after:bg-indigo-400 after:-bottom-2 after:-right-4 relative w-fit"
	>
		Projects
	</h2>
	<div class="grid grid-cols-1 lg:grid-cols-4 gap-8 relative">
		<!-- Colors: https://tailwindcss.com/docs/customizing-colors -->

		{
			projects.map((project, index) => {
				return (
					<Card
						href={`/project${index + 1}`}
						title={project.title}
						description={project.description}
						stackList={project.stackList}
						img={project.img}
						index={index + 1}
						stackBgColor={project.stackBgColor}
					/>
				);
			})
		}

		<div class="lava-1" data-scroll data-scroll-speed="3"></div>

		<div class="lava-2" data-scroll data-scroll-speed="-4"></div>

		<div class="lava-3" data-scroll data-scroll-speed="2"></div>
	</div>

	<!-- <div data-scroll data-scroll-speed="-1">
		<div class="lava lava-4"></div>
	</div> -->
</section>
<!-- position={index % 2 === 0 ? 'even' : 'odd'} -->
<!-- 
	<Card
		href="/project1"
		title="Knowledge Portfolio"
		description="A Full Stack NextJS App"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="Open AI API"
		description="A small App where I use the OpenAI API"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="odd"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project3"
		title="Algorithms"
		description="An algorithm blog where I keep my solutions to FreecodeCamp or Codewars problems"
		stackList="React, Javascript"
		img="../algorithms.jpg"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="Gatsby JS Project"
		description="A GatsbyJS website using WordPress as data source"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="odd"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="CS50 Capstone web"
		description="A Python fullstack project for Hardvard's CS50 course"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="Library"
		description="an app that's part of the Odin Project curriculum"
		stackList="WordPress, Javascript, CSS, SoftSkills"
		img="../algorithms.png"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="Monsterslayer"
		description="A VueJS toy app to play and learn some Vue"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="odd"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/project1"
		title="Professional Work"
		description="A description of what I do for a living"
		stackList="WordPress, Javascript, CSS, SoftSkills"
		img="../algorithms.png"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/> -->

<style>
	/* Lava Lamp */

	.lava-1 {
		width: 15rem;
		height: 15rem;
		position: absolute;
		background: rgba(255, 255, 255, 0.04);
		right: -10%;
		top: 10%;
		animation:
			morph 10s linear infinite alternate,
			spin 30s linear infinite;
		/* move 40s linear infinite alternate; */
		z-index: 1;
		will-change: border-radius, transform;
		transform-origin: 55% 55%;
		pointer-events: none;
	}

	.lava-2 {
		width: 20rem;
		height: 20rem;
		position: absolute;
		background: rgba(255, 255, 255, 0.04);
		/* rgb(245 208 254);
		rgb(124 58 237) */
		left: -6%;
		top: 40%;
		animation:
			morph 10s linear infinite alternate,
			spin 30s linear infinite;
		/* move 60s linear infinite alternate; */
		z-index: 1;
		will-change: border-radius, transform;
		transform-origin: 55% 55%;
		pointer-events: none;
	}

	.lava-3 {
		width: 10rem;
		height: 10rem;
		position: absolute;
		background: rgba(255, 255, 255, 0.04);
		right: 3%;
		top: 65%;
		animation:
			morph 10s linear infinite alternate,
			spin 30s linear infinite;
		/* move 40s linear infinite alternate; */
		z-index: 1;
		will-change: border-radius, transform;
		transform-origin: 55% 55%;
		pointer-events: none;
	}

	@keyframes morph {
		0% {
			border-radius: 40% 60% 60% 40%/70% 30%;
		}

		to {
			border-radius: 40% 60%;
		}
	}

	@keyframes spin {
		to {
			transform: rotate(1turn);
		}
	}

	@keyframes move {
		0% {
			transform: translateY(0);
		}

		50% {
			transform: translateY(-150px);
		}

		to {
			transform: translateY(150px);
		}
	}
</style>

<script>
	// https://codepen.io/GreenSock/pen/BarWPyB
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const cards = document.querySelectorAll('.card');

	const staggerAmount = 50;

	// cards.forEach((card, index) => {
	// 	ScrollTrigger.create({
	// 		onUpdate({ progress }) {
	// 			if (index > 0) {
	// 				const newY =
	// 					-progress * Number(`${index}00`) +
	// 					index * staggerAmount;

	// 				console.log(newY, index);
	// 				gsap.to(card, {
	// 					duration: 0,
	// 					y: newY,
	// 				});
	// 			}
	// 		},
	// 	});
	// });
</script>
